<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">简但的组件布局</div>
    <div class="panel-body">
        <div class="row clearfix">
           <div class="col-md-12 dis-top-bot">
               <app-sm-header></app-sm-header>
           </div>
           <div class="clearfix">
              <div class="col-md-3">
                <app-sm-left></app-sm-left>
              </div>
              <div class="col-md-9">
                <app-sm-main></app-sm-main>
              </div>
           </div>
          <div class="col-md-12 dis-top-bot">
              <!--投影分发  插槽分发-->
              <app-shadow>
                  <header>这是头部内容</header>
                  <div class="main">这是主体区域</div>
                  <div name="footer">这是脚部区域</div>
              </app-shadow>
          </div>
        </div>
    </div>
  </div>
</div>
