<div class="container">
  <div class="panel panel-primary">
    <div class="panel-heading">简但的组件布局</div>
    <div class="panel-body">
        <div class="row clearfix">
           <div class="col-md-12 dis-top-bot">
               <app-sm-header></app-sm-header>
           </div>
           <div class="clearfix">
              <div class="col-md-3">
                <app-sm-left></app-sm-left>
              </div>
              <div class="col-md-9">
                <app-sm-main></app-sm-main>
              </div>
           </div>
        </div>
    </div>
  </div>
</div>
