<div class="container">
    <div class="panel panel-primary">
        <div class="panel-heading">Alert样式</div>
        <div class="panel-body">
            <!--success-->
            <alert type="success">
              <p>You successfully read this important alert message. <a href="javascript:;"></a></p>
            </alert>
            <!--info-->
            <alert type="info">
              <p>This alert needs your attention, but it's not super important. <a href="javascript:;"></a></p>
            </alert>
            <!--warning-->
            <alert type="warning">
              <p>Better check yourself, you're not looking too good. <a href="javascript:;"></a></p>
            </alert>
            <!--danger-->
            <alert type="danger">
              <p>Change a few things up and try submitting again. <a href="http://www.baidu.com" class="alert-link">这是链接</a></p>
            </alert>
        </div>
    </div>
</div>
