p{
  /*animation: move 1.5s linear infinite;*/
  font-size:48px;
}
@keyframes move {
  0% {
    transform: scale(0);
  }
  25% {
    transform: scale(.25);
  }
  50% {
    transform: scale(.5);
  }
  75%{
    transform:scale(.75);
  }
  100%{
    transform:scale(1);
  }
}
