<div class="container">



  <!--自定义属性指令-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">自定义属性型指令</h3>
    </div>
    <div class="panel-body">
        <p [MyColor]>START A PROGRESS THAT I WANT TO</p>
        <p [MyColor]="'green'">START A PROGRESS THAT I WANT TO</p>
        <p [MyColor]="'deeppink'">START A PROGRESS THAT I WANT TO</p>
    </div>
  </div>


  <!--自定义属性指令 事件-->
  <div class="panel panel-primary">
    <div class="panel-heading">
      <h3 class="panel-title">自定义属性型指令</h3>
    </div>
    <div class="panel-body">
        <p [ColorEvent] class="cursor">aCLICK EVENT CHNAGE COLOR</p>
        <p [ColorEvent] class="cursor">aCLICK EVENT CHNAGE COLOR</p>
    </div>
  </div>


  <!--结构型指令-->
  <div class="panel panel-success">
    <div class="panel-heading">
      <h3 class="panel-title">自定义结构型指令</h3>
    </div>
    <div class="panel-body">
        <p *gangStruct="booleanValue" class="struct">自定义Unless指令</p>
        <p *gangStruct="!booleanValue" class="struct">自定义Unless指令</p>
    </div>
  </div>

  <!--Varies color-->
  <div class="panel panel-warning">
    <div class="panel-heading">
        <h3 class="panel-title">@HostBinding</h3>
    </div>
    <div class="panel-body">
        <p class="text-danger">请输入内容:</p>
        <div class="form-group">
          <input type="text" Border  class="form-control"/>
        </div>
    </div>
  </div>
</div>
