<div class="container">
  <div class="mar-content">
    <form action="#" class="form-inline" autocomplete="off">
        <div class="form-group">
            <input type="text" class="form-control" name="fang" [(ngModel)]="term">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-danger searchBtn" (click)="startLog()">搜索</button>
        </div>
    </form>
  </div>
  <div>
    <table class="table table-bordered">
      <thead>
          <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>地址</th>
            <th>日期</th>
          </tr>
      </thead>
      <tbody>
      <tr *ngFor="let item of arrList | filter:term;index as i">
            <td>{{i+1}}</td>
            <td>{{item.name}}</td>
            <td>{{item.age}}</td>
            <td>{{item.address}}</td>
            <td>{{1532574917000 | date:'yyyy-MM-dd HH:mm:ss'}}</td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
<div class="container">
    <table class="table table-bordered">
      <thead>
          <tr>
            <th>编号</th>
            <th>姓名</th>
            <th>年龄</th>
            <th>颜色</th>
          </tr>
      </thead>
      <tbody>
          <tr *ngFor="let item of trees;index as i">
                <td>{{i+1}}</td>
                <td>{{item.name}}</td>
                <td>{{item.age}}</td>
                <td>
                    <span *ngFor="let key of item.color" style="margin-right:10px;">{{key}}</span>
                </td>
          </tr>
      </tbody>
    </table>
</div>
